<div style="background-color: #1a1a1a; overflow: hidden;" id="contenedor">
    <div style="opacity: 0.3" class="background-grid_wrapper">
        <div class="background-grid_box-wrapper pointer-events-off">
            <div class="bakground-grid_overlay pointer-events-off"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div>
            <div class="background-grid_box"></div>
            <div class="background-grid_box"></div>
            <div class="background-grid_box"></div>
            <div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div><div class="background-grid_box"></div><div
                class="background-grid_box"
            >
            </div>
        </div>
    </div>
</div>
<div
    class="hero_cubes_item is-1"
    id="cubo"
    style="transform: translate3d(0.97668rem, 1rem, 0px) scale3d(1, 1, 1) rotateX(30deg) rotateY(12.0919deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;"
>
    <div class="hero_cubes_side"></div><div class="hero_cubes_side is-top">
    </div><div class="hero_cubes_side is-left"></div><div
        class="hero_cubes_side is-right"
    >
    </div><div class="hero_cubes_side is-front">
        <div class="hero_cubes_embed-icon w-embed">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="100%"
                height="100%"
                viewBox="0 0 80 80"
                fill="none"
                preserveAspectRatio="xMidYMid meet"
                aria-hidden="true"
                role="img"
            >
                <path
                    d="M57.8919 30.4517L52.1094 48.7476C52.1094 47.3464 48.1215 17 48.1215 17C38.9492 17 34.084 23.5257 31.5317 30.4517L24.4731 48.7876C24.4731 47.4665 23.4761 30.6118 23.4761 30.6118C23.1357 26.9631 21.4741 23.5665 18.8062 21.0653C16.1383 18.564 12.6493 17.1318 9 17.04L16.4973 63C26.0683 63 31.2526 56.4743 33.9245 49.5483L39.9063 33.9347C39.9063 34.5753 43.8943 63 43.8943 63C47.808 62.995 51.6184 61.7389 54.7733 59.4139C57.9282 57.0889 60.2636 53.8157 61.4411 50.0688L75 17C65.429 17 60.4042 23.5257 57.852 30.4517H57.8919Z"
                    fill="currentColor"></path>
            </svg>
        </div>
    </div><div class="hero_cubes_side is-back"></div>
</div>

<style>
    .background-grid_wrapper {
        width: 100%;
        opacity: 0.3;
        perspective: 125rem;
        perspective-origin: 50%;
        justify-content: center;
        align-items: center;
        margin-top: -5vh;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        transform: scale(1.45);
    }

    .background-grid_box-wrapper {
        width: 60em;
        height: 60em;
        transform-style: preserve-3d;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        transform: rotateX(45deg);
    }

    .bakground-grid_overlay {
        z-index: 1;
        width: 105%;
        height: 105%;
        background-image: radial-gradient(circle, transparent, #1a1a1a 60%);
        position: absolute;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        transform: scale(1.09);
    }

    .background-grid_box {
        z-index: 0;
        width: 4em;
        height: 4em;
        border: 1px solid rgba(255, 255, 255, 0.7);
        transition: all 0.15s;
        position: relative;
    }

    .background-grid_box:hover {
        background-color: #fff;
    }

    .pointer-events-off,
    .button_bg-grad {
        pointer-events: none;
    }

    .pointer-events-on,
    .background-grid_box {
        pointer-events: auto;
    }

    .hero_cubes_item {
        z-index: 5;
        width: 6em;
        height: 6em;
        transform-style: preserve-3d;
        justify-content: center;
        align-items: center;
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        position: absolute;
        top: auto;
        bottom: 18rem;
        left: 1rem;
        right: auto;
    }

    .hero_cubes_side {
        width: 100%;
        height: 100%;
        transform-origin: 50%;
        transform-style: preserve-3d;
        background-color: rgba(255, 255, 255, 0.05);
        border: 0.125em solid rgba(255, 255, 255, 0.15);
        justify-content: center;
        align-items: center;
        display: flex;
        transform: translateY(3em) rotateX(90deg) rotateY(0) rotate(0);
    }

    .hero_cubes_side.is-top {
        transform-style: preserve-3d;
        position: absolute;
        transform: translateY(-3em) rotateX(90deg) rotateY(0) rotate(0);
    }

    .hero_cubes_side.is-left {
        transform-origin: 50%;
        transform-style: preserve-3d;
        position: absolute;
        transform: translate(-3em) rotateX(0) rotateY(90deg) rotate(0);
    }

    .hero_cubes_side.is-right {
        transform-origin: 50%;
        transform-style: preserve-3d;
        position: absolute;
        transform: translate(3em) rotateX(0) rotateY(90deg) rotate(0);
    }

    .hero_cubes_side.is-front {
        transform-origin: 50%;
        transform-style: preserve-3d;
        position: absolute;
        transform: translateZ(3rem) rotate(0);
    }

    .hero_cubes_side.is-back {
        transform-origin: 50%;
        transform-style: preserve-3d;
        position: absolute;
        transform: translateZ(-3rem) rotate(0);
    }

    .hero_cubes_embed-icon {
        width: 75%;
        opacity: 0.8;
        color: #fff;
        transform-style: preserve-3d;
        justify-content: center;
        align-items: center;
        display: flex;
        transform: translateZ(-3em);
    }

    .w-embed:before,
    .w-embed:after {
        content: " ";
        grid-area: 1/1/2/2;
        display: table;
    }

    @media (min-width: 768px) {
        .background-grid_box-wrapper {
            transform: /* perspective(0px) */ rotateX(45deg) rotateY(0deg)
                rotateZ(0deg) perspective(1000px);
            animation-name: rotate;
            animation-duration: 80s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
    }

    @keyframes rotate {
        0% {
            transform: /* perspective(0px) */ rotateX(45deg) rotateY(0deg)
                rotateZ(0deg) perspective(1000px);
        }

        100% {
            transform: /* perspective(0px) */ rotateX(45deg) rotateY(0deg)
                rotateZ(360deg) perspective(1000px);
        }
    }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
  const contenedor = document.getElementById('contenedor')!;
  const cubo = document.getElementById('cubo')!;

  contenedor.addEventListener('mousemove', function (e) {
    const { clientX, clientY } = e;
    const { left, top, width, height } = contenedor.getBoundingClientRect();

    // Normalizar la posición del mouse dentro del contenedor
    const mouseX = (clientX - left) / width - 0.5;
    const mouseY = -(clientY - top) / height + 0.5;

    // Calcular la rotación en grados
    const rotateX = mouseY * 360 * 0.2;
    const rotateY = mouseX * 360 * 0.2;

    // Calcular la traslación en píxeles
    const translateX = mouseX * 100;
    const translateY = mouseY * 100;


    // Aplicar la transformación al cubo
    cubo.style.transform = `rotateX(${rotateX}deg) rotateY(${rotateY}deg)`;
    cubo.style.transform = `rotateX(${rotateX}deg) rotateY(${rotateY}deg) translateX(${translateX}px) translateY(${translateY}px)`;
  });
});
</script>